@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
   background-color: rgb(254, 220, 255);
}


/*
h1, p {
   color: rgb(0, 0, 0);
}
*/

h1 {
   font-family: 'Pacifico', cursive;
   font-size: 30px;
}

p {
   color: rgb(0, 0, 0)
}

h3 {
   color: rgb(204, 0, 102);
   font-style: italic;
   letter-spacing: .2em;
}

h2 {
   color: rgb(255, 255, 255);
   font-style: italic;
   text-shadow: 2px 2px 10px rgb(24, 27, 177);
}

a {
  font: bold 16px 'Annie Use Your Telescope', cursive;
}

input {
   caret-color: rgb(253, 220, 245);
}

.scatola1 {
   background-color: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
   width: 200px;
   height: 200px;
}

.scatola2 {
   background-color: rgb(255, 253, 119);
   width: 20%;
   height: 100px;
}
  
.scatola3 {
   background-color: rgb(119, 106, 64);
   color: rgb(255, 255, 255);
   width: 500px;
   height: 500px;
}

.scatola4 {
   background-color: rgb(255, 17, 0);
   color: rgb(255, 255, 255);
   width: 300px;
   height: 100px;
}

.header {
   width: 100%;
   height: 100%;
}

.main {
   width: 100%;
   height: 100%;
}

.footer {
   width: 100%;
   height: 100%;
}

.content {
   background-color: rgb(172, 249, 255);
   width: 50%;
   float: left;
   height: 450px;
   border: 2px;
   border-color: rgb(194, 255, 175);
}

.sidebar {
   background-color: rgb(194, 255, 175);
   width: 50%;
   float: right;
   height: 450px;
   border: 2px;
   border-color: rgb(172, 249, 255);
}
