body {
   background-image: url("http://wall2born.com/data/out/463/image-48217175-kawaii-phone-wallpaper.jpg");
}

h1 ,p {
   color: rgb(0, 0, 0);
}

h3 {
   color: #CC0066;
}

h2 {
   color: #9900FF;
}

a {
  color: rgb(0, 0, 0);
}
