@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');


body {
   background-color: rgb(253, 220, 245);
}


/*
h1, p {
   color: rgb(0, 0, 0);
}
*/

h1 {
   font-family: 'Permanent Marker', cursive;
   font-size: 30px;
   color: rgb(0, 0, 0);
}

p {
   color: rgb(0, 0, 0)
}

h3 {
   color: rgb(204, 0, 102);
   font-style: italic;
}

h2 {
   color: rgb(153, 0, 255);
   font-style: italic;
}

a {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 16px;
  font-family: 'Annie Use Your Telescope', cursive;
}

