.toy{
    float:left;
    width:25%;
    height:300px;
    text-align:center;
}

.doll{
    float:left;
    width:25%;
    height:300px;
    text-align:center;
}

.st{
    float:left;
    width:25%;
    height:300px;
    text-align:center;
}

.fd{
    float:left;
    width:25%;
    height:300px;
    text-align:center;
}
